@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/*-------------$variables$-----------------------*/
/*-------------$variables$-----------------------*/
$violet:#9356DC;
$rose: #FF79DA  ;
$vert: #99E2D0;
/*-------------@mixin-----------------------*/
/*-------------@mixin-----------------------*/
@mixin colum{
    display: flex;
    flex-direction: column;
}
@mixin justify-content($typeofj-c){
    display:flex;
    justify-content:$typeofj-c;
}
@mixin align-center{
    display: flex;
    align-items: center;
}
@mixin linear-gradientt{
    background-image:linear-gradient($rose,$violet) ;
}
@mixin btn($number,$number2){
    color: #ffffff;
    font-size: 18px;
    border:none;
    padding: $number $number2;
    border-radius: 25px;
    @include linear-gradientt;
    box-shadow: 0px 4px 11px 0px #B2B2B2  ;
    cursor: pointer;
}
@mixin coueur_vide{
    position: absolute;
    font-size: 25px;
    top:50% ;
    cursor: pointer;
    transform: translateY(-50%);
}
@mixin coueur_rempli{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    background-clip: text;
    transition: all 1s;
    @include linear-gradientt;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
@mixin footer {
    color: #ffffff; 
    background-color: #383636;
    div{
        width: 90%;
        margin: auto;
        padding-top: 20px;
        h1{
            font-size: 17px;
            padding-bottom: 15px;
            font-family: 'Shrikhand', sans-serif;
        }
        h3{
            font-size: 16px;
            padding-bottom: 5px;
            i{   /* commit 8 */
                width: 25px;
            }
        }
    }
}
/*-------------Animation-----------------------*/
/*-------------Animation-----------------------*/
@keyframes rotation{
    0%{
        transform:rotate(260deg)
    }
    100%{
        transform:rotate(0)
    }
}
@keyframes menu_down_up {
    0%{
        opacity: 0 ;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/*-------------for  from through---------------------*/
/*-------------for from through-----------------------*/
@for $i from 1 through 9 {
    section .menu_box:nth-child( #{$i}){
        animation-delay: ($i * 100ms) ;
    }
}

/*-------------Responsive-----------------------*/
/*-------------Responsive-----------------------*/
$tablette: "screen and (min-width: 768px) ";      /* #{$tablette} */
$desktop: "screen and (min-width: 992px) ";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
ul {
    list-style:none;

}
/*-------------HEAD-----------------------*/
/*-------------HEAD-----------------------*/
header{
    width:95%;
    margin: auto ;
    @include align-center ;
    h1{
        width: 95%;
        margin: auto;
        max-width: 190px;
        text-align: center;
        font-family: 'Shrikhand', sans-serif;
    }
}
/*-------------article-----------------------*/
/*-------------article-----------------------*/
.article{
    position: relative;
    z-index: 1;
    figure{
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}
/*-------------section-----------------------*/
/*-------------section-----------------------*/
section{
    z-index: 2;
    margin-top: -40px;
    position: relative;
    padding-bottom: 60px;
    border-top-left-radius:50px ;
    border-top-right-radius: 50px;
    background-color:#E9E9E9 ;
    .name_heart{
        @include justify-content( space-between);
        width: 90%;
        margin: auto;
        padding-top:20px ;
        align-items: center;
        h1{
            font-size: 22px ;
            font-family: 'Shrikhand', sans-serif;
        }
        div{
            @include align-center ;
            position: relative;
            height: 50px;
            width: 50px;
            .fa-heart{
                @include  coueur_vide;
                font-size: 25px;
            }
            .fa-solid{
                @include coueur_rempli ;
                &:hover{
                    opacity:1;
                }
            }
        }
    }
    h2{
        width: 95%;
        margin: auto;
        font-size: 16px;
        padding-top: 10px ;
        padding-bottom: 10px;
        &:after{
            content: "";
            width: 40px;
            height: 4px;
            margin-top: 3px;
            display:block ;
            background-color: $vert;
        }
    }
    .menu_box{
        @include colum ;
        width: 90%;
        height: 60px;
        background-color:#ffffff ;
        margin: auto;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0px 10px 20px -14px #000000;
        animation: menu_down_up 3s;
        &:hover .description_prize{
            & p:nth-child(2){
                margin-right: 70px;
            }
        }
        &:hover i{
            right:  0 ;
            visibility: visible;
            &:before {
                transform:rotate(0)
            }
            }
        h3{
            text-align: left;
            width: 98%;
            padding-top: 10px;
            overflow:hidden;
            white-space:nowrap;  
            margin: auto;
            align-items: initial;
        }
        .description_prize{
            @include justify-content( space-between );
            width: 98%; 
            margin: auto;
            & p:nth-child(1){
                text-overflow:ellipsis;
                overflow: hidden;
                white-space:nowrap;  
                padding-bottom: 5px;
            }
            & p:nth-child(2){
                margin-right: 9px;
                padding-left: 10px;
                transition: all 2s;
               
            }
        }
        i{
            @include justify-content(center );
            align-items: center;
            width: 55px;
            right: -65px;
            position: absolute;
            height: 60px;
            font-size: 20px;
            color: #ffffff;
            background-color: $vert;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            visibility: hidden;
            transition: all 2s;
            &:before {
                content: "\f058";
                transform:rotate(260deg);
                transition: all 1s ;
                transition-delay: 0.5s ;
                font-size: 30px;
            }
        }
    }
    .btn{
        @include justify-content( center);
        padding-top: 40px;
        button{
            @include btn(16px ,58px);
            &:hover{
                filter: brightness(1.05);
                box-shadow: 0px 4px 18px 0px #B2B2B2;
            }
        }
    }
}
@media #{$tablette} {
    section{
        margin-top:initial;
        border-radius: 0;
    }
}




/*-------------footer-----------------------*/
/*-------------footer-----------------------*/
footer{
   @include footer ;
}